@media (max-width: 1920px){    

    .text-area{
        height: 600px;
        font-size: 2.5rem;
        width: 42vw;
    }

    .msg{
        height: 600px;
        width: 40vw;
    }

    .content {
        padding: 0 20px;
        gap: 10px;
    }
   
}


/* ***************************** */
/* ----------------------------- */
/* ***************************** */


@media (max-width: 1280px){    
    html{
        height: auto;
        width: 100vw;
    }

    body{
        padding: 0 0 50px 0;
    }

    .text-area, .msg{
        height: 550px;
        font-size: 2rem;
        width: 45vw;
    }

    .btn-container {
        gap: 15px;
    }

    .msg-container,
    .txt-container{
        gap: 50px;
    }

    #theme-opener{
        position: absolute;
        height: 4rem;
        top: 20px;
    }

    .info{
        bottom: 70px;
        font-size: 1.8rem;
    }


     button{
        font-size: 1.6rem;
        height: 60px;
        width: 180px;
        padding: 0px;
        border-radius: 15px;
    }
}


/* ***************************** */
/* ----------------------------- */
/* ***************************** */







@media (max-width: 1110px) {
    .title{
        display: none;
    }   

    html{
        height: 700px;
        width: 100%;
    }

    body{
        height: 700px;
    }

   

    .logoAlura {
        margin-left: 20px;
        height: 2.5rem;
    }

    header{
        height: 50px;
    }
   

    .content {
        margin-top: 20px;
        display: flex;
        flex-direction: column;  
        justify-content: center;   
        gap: 80px;   
        align-items: center;
    }

    .txt-container,
    .msg-container{
        flex-direction: column;
        margin: 0;
        align-items: center;
        gap: 20px;
                
    }


    .text-area, .msg{
        height: 550px;
        font-size: 2rem;
        width: 650px;
    }

    #theme-opener{
        position: absolute;
        height: 3rem;
        right: 50px;
        top: 10px;
    }

    .info{
        position: static;
        justify-content: center;
        align-items: center;           
    }
}


/* ***************************** */
/* ----------------------------- */
/* ***************************** */



@media (max-width: 1024px){

    html{
        height: auto;
        width:100%;
    }

    body{
        padding: 0;
        width:100%;
        height: auto;
        margin: 0;
    }   

    header{
        width: 100%;
    }

}


/* ***************************** */
/* ----------------------------- */
/* ***************************** */








@media (max-width: 700px){

    
    html{
        height: auto;
    }

   

    body{
        height: 200vw;
    }

    #theme-opener{
        top: 2%;
        left: 85%;
        position: absolute;
    }

  
       
    header{
        height: 50px;
        width: 100%;
    }

    #theme-opener{
        top: 10px;
        left: 90%;
        height: 3rem;
        right: -120%;
        position: absolute;
    }
    


    .txt-container,
    .msg-container{
        flex-direction: column;
        align-items: center;
        gap: 20px;
        width: 100%;                
    }

    button{
        font-size: 1.4rem;
        height: 40px;
        width: 120px;
    }


    .text-area, .msg{
        height: 350px;
        font-size: 2rem;
        width: 500px;
        color: var(--textColor);
    }
}


/* ***************************** */
/* ----------------------------- */
/* ***************************** */



@media (max-width: 500px){


    
   

    body{
        height: auto;
        width: auto;           
    }    
    

    .logoAlura {
        margin-left: 20px;
        height: 3rem;
    }

    header{
        width: 100%;
    }
     

    #theme-opener{
        top: -70px;
        height: 3rem;
        right: -100%;
        position: relative;
    }

   



    .text-area, .msg{
        width: 300px;
        height: 350px;
        font-size: 2rem;
        width: 250px;
        color: var(--textColor);
    }
    
}


/* ***************************** */
/* ----------------------------- */
/* ***************************** */




@media (max-width: 390px){

    html{
        background-size: cover;
        height: 200%;
        width: 300px;
    }

    body{
        width: 100vw;    }

    


    .content{
        padding: auto 0;
        width: auto;
    }

    
   

    #theme-opener{
        top: -8.5%;
        left: 85%;
        height: 4rem;
        position: relative;
    }
       

    header{
        width: 100vw;
    }
    

    main{
        width: 90%;               
    }





    .text-area, .msg{
        height: 350px;
        font-size: 2rem;
        width: 250px;
        color: var(--textColor);
    }
    
}


/* ***************************** */
/* ----------------------------- */
/* ***************************** */



@media (max-width: 280px){

    #theme-opener{
        top: -5%;
        height: 4rem;
        left: 80%;
    }

    #theme-opener{
        top: 10px;
        left: 99%;
        height: 3rem;
        position: absolute;
    }

    header{
        width: 100%;
    }
    

   
    body{
        height: auto;
        width: 100vw;
    }


}
    












