@media (max-width: 1920px){    

    .text-area{
        height: 600px;
        font-size: 2.5rem;
        width: 42vw;
    }

    .msg{
        height: 600px;
        width: 40vw;
    }

    .content {
        padding: 0 20px;
        gap: 10px;
    }
   
}


/* ***************************** */
/* ----------------------------- */
/* ***************************** */


@media (max-width: 1280px){    
    html{
        height: 100%;
    }

    .text-area, .msg{
        height: 550px;
        font-size: 2rem;
        width: 45vw;
    }

    .btn-container {
        gap: 15px;
    }

    .msg-container,
    .txt-container{
        gap: 50px;
    }

    .info{
        bottom: 70px;
        font-size: 1.8rem;
    }


     button{
        font-size: 1.6rem;
        height: 60px;
        width: 180px;
        padding: 0px;
        border-radius: 15px;
    }
}


/* ***************************** */
/* ----------------------------- */
/* ***************************** */



@media (max-width: 1280px){
    html{
        height: 280vh;
    }
    
    
}


/* ***************************** */
/* ----------------------------- */
/* ***************************** */



@media (max-width: 1110px) {
    .title{
        display: none;
    }   

    html{
        height: 100vh;
        width: 100%;
        max-height: 1600px;

    }

    header{
        width: 120vw;
        margin-bottom: 0;
    }

   


    .content {
        margin-top: 20px;
        display: flex;
        flex-direction: column;  
        justify-content: center;   
        gap: 80px;   
        align-items: center;
    }

    .txt-container,
    .msg-container{
        flex-direction: column;
        margin: 0;
        align-items: center;
        gap: 20px;
                
    }


    .text-area, .msg{
        height: 550px;
        font-size: 2rem;
        width: 650px;
    }

    #theme-opener{
        right: 50px;
        z-index: 999;
    }

    .info{
        position: static;
        justify-content: center;
        align-items: center;        
        
    }
}


/* ***************************** */
/* ----------------------------- */
/* ***************************** */



@media (max-width: 1024px){

    html{
        height: 820%;
        width:100vw;
    }

    body{
        margin: 0;
    }   

    header{
        width: 120vw;
    }

}


/* ***************************** */
/* ----------------------------- */
/* ***************************** */








@media (max-width: 700px){

    .themes-container{
        height: 200vh;
    }

    html{
        max-height: 1200px;
    }

   

    body{
        margin: 0;
        width: 120%;
        height: 100vh;
        max-height: 800px;
    }

    #theme-opener{
        top: 2%;
        left: 85%;
        position: absolute;
    }

  
       

    header{
        width: 120vw;
    }


    .txt-container,
    .msg-container{
        flex-direction: column;
        align-items: center;
        gap: 20px;
        width: 100%;                
    }

    button{
        font-size: 1.4rem;
        height: 40px;
        width: 120px;
    }


    .text-area, .msg{
        height: 350px;
        font-size: 2rem;
        width: 500px;
        color: var(--textColor);
    }
}


/* ***************************** */
/* ----------------------------- */
/* ***************************** */



@media (max-width: 500px){

    html{
        height: 130vh;
        max-height:  1500px;
        width: 100%;
    }
    

    
    body{
        height: 100%;
    }   

    #theme-opener{
        top: -60px;
        height: 4rem;
        right: -100%;
        position: relative;
    }
       

    header{
        width: 100vw;
    }


    .text-area, .msg{
        height: 350px;
        font-size: 2rem;
        width: 250px;
        color: var(--textColor);
    }
    
}


/* ***************************** */
/* ----------------------------- */
/* ***************************** */




@media (max-width: 390px){

    html{
        height: 6000px;
        width: 100vw;
    }

    
   

    #theme-opener{
        top: -8.5%;
        left: 85%;
        height: 4rem;
        position: relative;
    }
       

    header{
        width: 120vw;
    }
    

    main{
        width: 90%;               
    }





    .text-area, .msg{
        height: 350px;
        font-size: 2rem;
        width: 250px;
        color: var(--textColor);
    }
    
}


/* ***************************** */
/* ----------------------------- */
/* ***************************** */



@media (max-width: 280px){

    #theme-opener{
        top: -5%;
        height: 4rem;
        left: 80%;
    }

    

    html{
        height: 180vh;
    }
    body{
        height: 100%;
    }


}
    












