:root{    
    --blue: #0f3397;
    --green: #006329;
    --red: #ce001b;    
    --purple: #5e0983;
    --colorBGGradient: #030303;  
    --textColor: #f0f0f0;
    --bgMSG: #161616;     
}



.light-theme{
  
    --textColor: #050505;
    --colorBGGradient: #b8b8b8;
    --bgMSG: #cecece;
}




*{
    font-family: 'Ubuntu', sans-serif;
    line-height: 150%;
    font-weight: 400;   
}


html{
    font-size: 62.5%;    
}

body{
    --mainColor: var(--blue);
    height: 100vh;
    background: linear-gradient(45deg,var(--colorBGGradient) 0%, var(--mainColor) 90%); 
    background-size: 400%;
}



 /* ********* Header ********** */

 header{
    display: flex;
    align-items: center;
    margin-bottom: 60px;    
    height: 80px;
    background-color: var(--mainColor);
    box-shadow: 0 5px 25px black;

}

.logoAlura{
    margin-left: 80px;   
    filter: brightness(0) invert(1);
}


 /* ********* Theme Switcher ********** */


 .theme-switcher{
    display: flex;
    position: relative;
    gap: 20px;
    align-items: center;
    position: fixed;
    top: 10px;
    right: 0;
    width: 500px;
    background-color: var(--bgSwitcher);
    padding: 15px;
    border: 2px solid var(--textColor);
    border-right: none;
    border-radius: 30px 0 0 30px;
    z-index: 10;
    overflow: hidden;
 }

#theme-opener{
    position: fixed;
    right: 30px;
    top: 10px;
    color: white;
    width: 5rem;
    height: 5rem;
    animation: rotate 4s linear infinite;
    cursor: pointer;    
}

.theme-switcher:before{
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 65px;
    border-right: 2px solid var(--textColor);
}

@keyframes rotate{
    100%{
        transform: rotate(360deg);
    }
}

.theme-btn-container{
    display: flex;
    gap: 20px;
}

.color-btn{
    
    width: 40px;
    height: 40px;
    border-radius: 50%; 
    cursor: pointer;
}




 /* ********* Main ********** */



 main{
    display: flex;
    flex-direction: column;    
}


.title{
    font-size: 3.5rem;    
    margin: 15px auto;
    font-family: 'Ubuntu', sans-serif;
    color: var(--textColor);
    font-weight: 700;
}


.content{
    display: flex;
    padding: 0 80px;
    margin-top: 8rem;     
    justify-content: space-between;
}




 /* ********* Text input ********** */


.txt-container{
    flex: 1;
    position: relative;
    display: flex;
    gap: 100px;
    flex-direction: column;
    max-width: 1000px;
    width: 1200px;  
}




.text-area{
    border: 3px solid transparent;    
    border-radius: 50px;
    padding: 30px;
    box-sizing: border-box;
    background: transparent;   
    height: 700px;
    width: 1200px;   
    font-size: 2rem;
    color: var(--textColor);
    resize: none;   
}

.text-area:focus {
    border: 3px solid var(--mainColor);
    outline: none;
}

.info{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;    
    bottom: 115px;
    left: 10px;
    font-size: 2.2rem;
    color: var(--textColor);
    font-weight: 900;
}

#warning{
    display: flex;
    justify-content: center;
    align-items: center;
}

.warning-icon{
    margin-right: 0px;    
    text-align: center;
    color: #f60023;    
    margin-right: 10px;
    width: 3rem;
    height: 3rem;  
}


::placeholder{
    color: #505050;
}


 /* ********* Text output ********** */


 .msg-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 100px; 
} 


.msg{
    background: rgba(100,100,100, 0.1);
    border-radius: 30px;    
    border: none;
    box-sizing: border-box;
    height: 700px;
    width: 40vw;
    padding: 20px;
    resize: none;
    backdrop-filter: blur(20px);
    font-size: 2rem;
    color: var(--textColor);
    background-image: url(/src/img/encrypt_lock3.png);
    background-repeat: no-repeat;
    background-position: center;
}

.msg:focus{
    outline: none;
}





 /* ********* Buttons ********** */  



.btn-container{
    display: flex;
    gap: 50px;
}


button{    
    padding: 20px;
    border-radius: 25px;    
    font-size: 2rem;
    color: var(--mainColor);
    height: 80px;
    width: 240px;
    border: none;
    cursor: pointer; 
    transition: box-shadow 0.3s ease-in-out, transform 0.1s ease-in-out;     
}


button:hover{    
    box-shadow: 0px 0px 20px var(--mainColor),
                0px 0px 2px white;      
}

button:active{    
    transform: scale(0.9);   
}



.btn-encoder{
    background-color: var(--mainColor);    
    color: #f9f9f9;    
}



.btn-decoder{
    background-color: transparent;    
    border: 4px solid var(--mainColor);    
}